annexremote==1.6.0
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///tmp/build/80754af9/argon2-cffi-bindings_1644569684262/work
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
attrs @ file:///opt/conda/conda-bld/attrs_1642510447205/work
Automat==20.2.0
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
bcrypt @ file:///tmp/build/80754af9/bcrypt_1597936221426/work
beautifulsoup4 @ file:///opt/conda/conda-bld/beautifulsoup4_1650462163268/work
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
boto==2.49.0
brotlipy==0.7.0
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1640686991047/work
certifi==2021.10.8
cffi==1.15.0
cfgv==3.3.1
chardet==4.0.0
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.2
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
colossalai @ file:///media/hdd/viscent/SR-UNet/dev/ColossalAI-0.1.3
commonmark==0.9.1
constantly==15.1.0
cryptography @ file:///tmp/build/80754af9/cryptography_1639400846433/work
cssselect==1.1.0
datalad==0.16.2
datalad-installer==0.6.0
debugpy @ file:///tmp/build/80754af9/debugpy_1637091796427/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
Deprecated @ file:///home/conda/feedstock_root/build_artifacts/deprecated_1632758190537/work
distlib==0.3.4
distro==1.7.0
entrypoints @ file:///tmp/build/80754af9/entrypoints_1649926445639/work
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fabric==2.7.0
fasteners @ file:///home/conda/feedstock_root/build_artifacts/fasteners_1643971550063/work
fastjsonschema @ file:///tmp/build/80754af9/python-fastjsonschema_1620414857593/work/dist
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1645136850180/work
frozendict @ file:///home/conda/feedstock_root/build_artifacts/frozendict_1650896073691/work
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1635085722655/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1645531658201/work
graphviz==0.20
greenlet==0.4.13
hpy==0.0.3
humanize @ file:///home/conda/feedstock_root/build_artifacts/humanize_1644757668428/work
hyperlink @ file:///home/conda/feedstock_root/build_artifacts/hyperlink_1610092164190/work
identify==2.4.12
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1648728288958/work
importlib-resources @ file:///tmp/build/80754af9/importlib_resources_1625135880749/work
incremental @ file:///home/conda/feedstock_root/build_artifacts/incremental_1621907170877/work
invoke==1.7.0
ipykernel @ file:///tmp/build/80754af9/ipykernel_1646982648551/work/dist/ipykernel-6.9.1-py3-none-any.whl
ipython @ file:///tmp/build/80754af9/ipython_1648799197050/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1634143127070/work
iso8601 @ file:///home/conda/feedstock_root/build_artifacts/iso8601_1637688565885/work
itemadapter @ file:///home/conda/feedstock_root/build_artifacts/itemadapter_1647644063444/work
itemloaders @ file:///home/conda/feedstock_root/build_artifacts/itemloaders_1605273565796/work
jedi @ file:///tmp/build/80754af9/jedi_1644315233700/work
jeepney @ file:///home/conda/feedstock_root/build_artifacts/jeepney_1649085214306/work
Jinja2 @ file:///opt/conda/conda-bld/jinja2_1647436528585/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1647416812516/work
jsmin @ file:///home/conda/feedstock_root/build_artifacts/jsmin_1642532731678/work
jsonschema @ file:///tmp/build/80754af9/jsonschema_1650025949224/work
jupyter==1.0.0
jupyter-client @ file:///opt/conda/conda-bld/jupyter_client_1650622202839/work
jupyter-console @ file:///opt/conda/conda-bld/jupyter_console_1647002188872/work
jupyter-core @ file:///tmp/build/80754af9/jupyter_core_1646994441805/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets @ file:///tmp/build/80754af9/jupyterlab_widgets_1609884341231/work
keyring==23.5.0
keyrings.alt==4.1.0
lxml @ file:///home/conda/feedstock_root/build_artifacts/lxml_1649637461228/work
MarkupSafe @ file:///tmp/build/80754af9/markupsafe_1621528148836/work
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
mistune==0.8.4
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186064646/work
mkl-service==2.4.0
mock @ file:///home/conda/feedstock_root/build_artifacts/mock_1648992797909/work
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1648745991202/work
nbclient @ file:///tmp/build/80754af9/nbclient_1650308366712/work
nbconvert @ file:///opt/conda/conda-bld/nbconvert_1649751911790/work
nbformat @ file:///tmp/build/80754af9/nbformat_1649827057626/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1649847908682/work
nodeenv==1.6.0
notebook @ file:///tmp/build/80754af9/notebook_1645002536250/work
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1649782759471/work
oauthlib==3.2.0
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
paramiko==2.10.4
parsel @ file:///home/conda/feedstock_root/build_artifacts/parsel_1591122878042/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pathlib2==2.3.7.post1
patool @ file:///home/conda/feedstock_root/build_artifacts/patool_1649636839899/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.0.1
platformdirs==2.5.2
pre-commit==2.18.1
prometheus-client @ file:///opt/conda/conda-bld/prometheus_client_1643788673601/work
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
Protego @ file:///home/conda/feedstock_root/build_artifacts/protego_1647348122707/work
psutil==5.9.0
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
PyDispatcher==2.0.5
PyGithub @ file:///home/conda/feedstock_root/build_artifacts/pygithub_1625175731529/work
Pygments==2.12.0
PyHamcrest @ file:///home/conda/feedstock_root/build_artifacts/pyhamcrest_1639391367583/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1638819640841/work
PyLD @ file:///home/conda/feedstock_root/build_artifacts/pyld_1601904302171/work
PyNaCl @ file:///home/conda/feedstock_root/build_artifacts/pynacl_1649519978670/work
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==3.0.8
pyrsistent @ file:///tmp/build/80754af9/pyrsistent_1636110947380/work
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-gitlab==3.4.0
PyYAML==6.0
pyzmq @ file:///tmp/build/80754af9/pyzmq_1638436375034/work
qtconsole @ file:///opt/conda/conda-bld/qtconsole_1649078897110/work
QtPy @ file:///opt/conda/conda-bld/qtpy_1649073884068/work
queuelib @ file:///home/conda/feedstock_root/build_artifacts/queuelib_1629994290383/work
readline==6.2.4.1
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
requests-file @ file:///home/conda/feedstock_root/build_artifacts/requests-file_1591227832914/work
requests-ftp @ file:///home/conda/feedstock_root/build_artifacts/requests-ftp_1602638041394/work
requests-toolbelt==0.9.1
rich==12.2.0
Scrapy @ file:///tmp/build/80754af9/scrapy_1646820292798/work
SecretStorage @ file:///home/conda/feedstock_root/build_artifacts/secretstorage_1650401976973/work
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
service-identity==18.1.0
SimpleITK==2.1.1.2
simplejson @ file:///home/conda/feedstock_root/build_artifacts/simplejson_1649013522860/work
sip==4.19.13
six @ file:///tmp/build/80754af9/six_1644875935023/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1611376390914/work
soupsieve @ file:///tmp/build/80754af9/soupsieve_1636706018808/work
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
terminado @ file:///tmp/build/80754af9/terminado_1644322581811/work
testpath @ file:///tmp/build/80754af9/testpath_1624638946665/work
tldextract @ file:///home/conda/feedstock_root/build_artifacts/tldextract_1649720984379/work
toml==0.10.2
torch==1.11.0
torchaudio==0.11.0
torchsummary==1.5.1
torchvision==0.12.0
torchviz==0.0.2
tornado @ file:///tmp/build/80754af9/tornado_1606942300299/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1649051611147/work
traitlets @ file:///tmp/build/80754af9/traitlets_1636710298902/work
Twisted @ file:///tmp/build/80754af9/twisted_1646835199000/work
typing_extensions @ file:///opt/conda/conda-bld/typing_extensions_1647553014482/work
urllib3 @ file:///opt/conda/conda-bld/urllib3_1650639997961/work
virtualenv==20.14.1
w3lib @ file:///home/conda/feedstock_root/build_artifacts/w3lib_1591173357158/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
Whoosh==2.7.4
widgetsnbextension @ file:///tmp/build/80754af9/widgetsnbextension_1645009353553/work
wrapt @ file:///home/conda/feedstock_root/build_artifacts/wrapt_1649093999876/work
zipp @ file:///opt/conda/conda-bld/zipp_1641824620731/work
zope.interface @ file:///home/conda/feedstock_root/build_artifacts/zope.interface_1649175727918/work
